autopep8==2.0.1
pycodestyle==2.10.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt6==6.4.0
PyQt6-Qt6==6.4.1
PyQt6-sip==13.4.0
PyQt6-WebEngine==6.4.0
PyQt6-WebEngine-Qt6==6.4.1
PyQtWebEngine-Qt5==5.15.2
tomli==2.0.1
